In [1]:
from os import sep


fhand1 = open('sub.txt')
for line in fhand1.readlines():
    line = line.split(',')
    print('execute immediate \'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(\'\'',line[0],'\'\',\'\'',line[1].strip(),'\'\')\';',sep='')
fhand1.close()

execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''ARCH'',''Architecture'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''BECM'',''Building Engineering and Construction Management'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''BME'',''Biomedical Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''CE'',''Civil Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''CFPE'',''Chemical and Food Process Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''CHE'',''Chemical Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''CSE'',''Computer Science and Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''ECE'',''Electrical and Computer Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''EEE'',''Electrical and Electronics Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''ESE'',''Energy Science and Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''ETE'',''Electronics and Telecommunication Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''GCE'',''Glass and Ceramic Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''IEM'',''Industrial Engineering and Management'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''IPE'',''Industrial and Production Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''LE'',''Lather Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''MSE'',''Material Science and Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''ME'',''Mechanical Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''MIE'',''Mechatronics and Industrial Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''MME'',''Materials and Metallurgical Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''MTE'',''Mechatronics Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''NAME'',''Naval Architecture and Marine Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''TE'',''Textile Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''PME'',''Petrolium and Mining Engineering'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''URP'',''Urbal and Regional Planning'')';
execute immediate 'INSERT INTO SUBJECT(SUB_ID,NAME) VALUES(''WRE'',''Water Resources Engineering'')';

In [4]:
from os import sep
fhand1 = open('uni_sub.csv')
for line in fhand1.readlines():
    line = line.split(',')
    #print('INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(\'',line[0],'\',\'',line[1],'\',',line[2],',',line[3].strip(),')',sep='')
    print('execute immediate \'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(\'\'',line[0],'\'\',\'\'',line[1],'\'\',',line[2],',',line[3].strip(),')\';',sep='')
    #print('execute immediate \'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(\'\'',line[0],'\'\',\'\'',line[1],'\'\',',line[2],',',line[3].strip(),')\'',sep='')
fhand1.close()

execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''ARCH'',55,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''BME'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''CE'',195,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''CHE'',60,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''CSE'',120,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''EEE'',195,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''IPE'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''NAME'',55,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''ME'',180,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''MME'',50,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''URP'',30,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''BUET'',''WRE'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''ARCH'',30,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''BME'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''CE'',130,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''CSE'',130,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''EEE'',180,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''ETE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''MSE'',30,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''ME'',180,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''MIE'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''PME'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''URP'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''CUET'',''WRE'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''ARCH'',40,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''BECM'',60,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''BME'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''CHE'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''CE'',120,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''CSE'',120,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''EEE'',120,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''ECE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''ESE'',30,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''IEM'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''LE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''MSE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''ME'',120,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''MTE'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''TE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''KUET'',''URP'',60,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''ARCH'',30,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''BECM'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''CFPE'',30,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''CE'',180,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''CSE'',180,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''EEE'',180,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''ECE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''ETE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''GCE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''IPE'',60,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''ME'',180,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''MSE'',60,0)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''MTE'',60,1)';
execute immediate 'INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES(''RUET'',''URP'',60,1)';

In [9]:
import random
fhand = open('Full_Names.txt')
NAMES = list()

for line in fhand.readlines():
    line = line.strip()
    NAMES.append(line)
fhand.close()

fhand = open('StudentQueries.sql','w')
DAY = range(1,29)
MONTH = range(1,13)
YEAR = [2000,2001]
LOCATION = ['BUET','RUET','CUET','SUST']
HSC_ROLL_pool = range(1234567,9999999)
HSC_REG_pool = range(123456789, 400000000)

HSC_ROLL = list()
HSC_REG = list()

for i in range(40000):
    HSC_ROLL.append(random.choice(HSC_ROLL_pool))
    HSC_REG.append(random.choice(HSC_REG_pool))

HSC_ROLL = list(set(HSC_ROLL))
HSC_REG = list(set(HSC_REG))


for i in range(7000):
    birthday = str(random.choice(DAY))+'/'+str(random.choice(MONTH))+'/'+str(random.choice(YEAR))
    quota_status ='\'Y\'' if 'Chakma' in NAMES[i] or 'Marma' in NAMES[i] else '\'N\''
    center_id = 'KUET'

    querystr = 'INSERT INTO STUDENT(HSC_ROLL,HSC_REG,NAME,BIRTHDATE,QUOTA_STATUS,CENTER_ID) VALUES('+ str(HSC_ROLL[i])+','+ str(HSC_REG[i])+',\''+NAMES[i].strip()+'\',\''+birthday+'\','+quota_status+',\''+center_id+'\');\n'
    fhand.write(querystr)
    querystr = 'UPDATE EXAM_CENTER SET FILLED = (SELECT FILLED FROM EXAM_CENTER WHERE CENTER_ID=\''+ center_id +'\' ) + 1 WHERE CENTER_ID=\''+center_id+'\';\n' 
    fhand.write(querystr)

for i in range(7001,len(NAMES)):
    birthday = str(random.choice(DAY))+'/'+str(random.choice(MONTH))+'/'+str(random.choice(YEAR))
    quota_status ='\'Y\'' if 'Chakma' in NAMES[i] or 'Marma' in NAMES[i] else '\'N\''
    center_id = random.choice(LOCATION)
    
    querystr = 'INSERT INTO STUDENT(HSC_ROLL,HSC_REG,NAME,BIRTHDATE,QUOTA_STATUS,CENTER_ID) VALUES('+ str(HSC_ROLL[i])+','+ str(HSC_REG[i])+',\''+NAMES[i].strip()+'\',\''+birthday+'\','+quota_status+',\''+center_id+'\');\n'
    fhand.write(querystr)
    querystr = 'UPDATE EXAM_CENTER SET FILLED = (SELECT FILLED FROM EXAM_CENTER WHERE CENTER_ID=\''+ center_id +'\' ) + 1 WHERE CENTER_ID=\''+center_id+'\';\n' 
    fhand.write(querystr)