In [93]:
import sqlite3

conn = sqlite3.connect('main_database.db')
cur = conn.cursor()

In [94]:
#pupulate UNIVERSITY Table
cur.execute('DROP TABLE IF EXISTS UNIVERSITY;')
cur.execute('''
CREATE TABLE UNIVERSITY(
    UNI_ID VARCHAR2(4) NOT NULL UNIQUE PRIMARY KEY,
    NAME VARCHAR2(60) NOT NULL,
    LOCATION VARCHAR(255) NOT NULL
);
''')
cur.execute(''' INSERT INTO UNIVERSITY(UNI_ID,NAME,LOCATION) VALUES('BUET','Bangladesh University of Engineering and Technology', 'Dhaka 1000');''')
cur.execute(''' INSERT INTO UNIVERSITY(UNI_ID,NAME,LOCATION) VALUES('CUET','Chittagong University of Engineering and Technology', 'Pahartoli, Raozan-4349, Chittagong');''')
cur.execute(''' INSERT INTO UNIVERSITY(UNI_ID,NAME,LOCATION) VALUES('KUET','Khulna University of Engineering and Technology', 'Fulbarigate,Khulna');''')
cur.execute(''' INSERT INTO UNIVERSITY(UNI_ID,NAME,LOCATION) VALUES('RUET','Rajshahi University of Engineering and Technology', 'Kazla, Rajshahi-6204');''')

cur.execute('SELECT * FROM UNIVERSITY;')
for line in cur.fetchall():
    for item in line:
        print(item, end=' \t')
    print('')

OperationalError: database is locked

In [ ]:
cur.execute('DROP TABLE IF EXISTS SUBJECT;')
cur.execute('''
CREATE TABLE SUBJECT(
    SUB_ID VARCHAR2(4) NOT NULL UNIQUE PRIMARY KEY,
    NAME VARCHAR2(60) NOT NULL
);
''')

cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('ARCH','Architecture');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('BECM','Building Engineering and Construction Management');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('BME','Biomedical Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('CE','Civil Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('CFPE','Chemical and Food Process Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('CHE','Chemical Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('CSE','Computer Science and Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('ECE','Electrical and Computer Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('EEE','Electrical and Electronics Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('ESE','Energy Science and Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('ETE','Electronics and Telecommunication Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('GCE','Glass and Ceramic Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('IEM','Industrial Engineering and Management');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('IPE','Industrial and Production Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('LE','Lather Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('MSE','Material Science and Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('ME','Mechanical Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('MIE','Mechatronics and Industrial Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('MTE','Mechatronics Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('TE','Textile Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('PME','Petrolium and Mining Engineering');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('URP','Urbal and Regional Planning');''')
cur.execute('''INSERT INTO SUBJECT(SUB_ID,NAME) VALUES('WRE','Water Resources Engineering');''')

cur.execute('SELECT * FROM SUBJECT;')
for line in cur.fetchall():
    for item in line:
        print(item, end=' \t')
    print('')

ARCH 	Architecture
BECM 	Building Engineering and Construction Management
BME 	Biomedical Engineering
CE 	Civil Engineering
CFPE 	Chemical and Food Process Engineering
CHE 	Chemical Engineering
CSE 	Computer Science and Engineering
ECE 	Electrical and Computer Engineering
EEE 	Electrical and Electronics Engineering
ESE 	Energy Science and Engineering
ETE 	Electronics and Telecommunication Engineering
GCE 	Glass and Ceramic Engineering
IEM 	Industrial Engineering and Management
IPE 	Industrial and Production Engineering
LE 	Lather Engineering
MSE 	Material Science and Engineering
ME 	Mechanical Engineering
MIE 	Mechatronics and Industrial Engineering
MTE 	Mechatronics Engineering
TE 	Textile Engineering
PME 	Petrolium and Mining Engineering
URP 	Urbal and Regional Planning
WRE 	Water Resources Engineering

In [ ]:
cur.execute('DROP TABLE IF EXISTS UNI_SUB;')
cur.execute('''
CREATE TABLE UNI_SUB(
    UNI_ID VARCHAR2(4) REFERENCES UNIVERSITY(UNI_ID),
    SUB_ID VARCHAR2(4) REFERENCES SUBJECT(SUB_ID),
    CAPASITY INT NOT NULL,
    QUOTA_CAPASITY INT NOT NULL,
    FILLED INT DEFAULT 0,
    QUOTA_FILLED DEFAULT 0
);
''')

cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','ARCH','55','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','BME','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','CE','195','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','CHE','60','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','CSE','120','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','EEE','195','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','IPE','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','NAME','55','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','ME','180','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','MME','50','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','URP','30','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('BUET','WRE','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','ARCH','30','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','BME','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','CE','130','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','CSE','130','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','EEE','180','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','ETE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','MSE','30','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','ME','180','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','MIE','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','PME','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','WRP','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('CUET','WRE','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','ARCH','40','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','BECM','60','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','BME','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','CHE','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','CE','120','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','CSE','120','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','EEE','120','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','ECE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','ESE','30','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','IEM','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','LE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','MSE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','ME','120','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','MTE','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','TE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('KUET','URP','60','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','ARCH','30','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','BECM','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','CFPE','30','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','CE','180','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','CSE','180','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','EEE','180','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','ECE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','ETE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','GCE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','IPE','60','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','ME','180','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','MSE','60','0');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','MTE','60','1');''')
cur.execute('''INSERT INTO UNI_SUB(UNI_ID,SUB_ID,CAPASITY,QUOTA_CAPASITY) VALUES('RUET','URP','60','1');''')

cur.execute('SELECT * FROM UNI_SUB;')
for line in cur.fetchall():
    for item in line:
        print(item, end=' \t')
    print('')

BUET 	ARCH 	55 	1 	0 	0
BUET 	BME 	30 	0 	0 	0
BUET 	CE 	195 	1 	0 	0
BUET 	CHE 	60 	1 	0 	0
BUET 	CSE 	120 	1 	0 	0
BUET 	EEE 	195 	0 	0 	0
BUET 	IPE 	30 	0 	0 	0
BUET 	NAME 	55 	0 	0 	0
BUET 	ME 	180 	1 	0 	0
BUET 	MME 	50 	0 	0 	0
BUET 	URP 	30 	1 	0 	0
BUET 	WRE 	30 	0 	0 	0
CUET 	ARCH 	30 	1 	0 	0
CUET 	BME 	30 	0 	0 	0
CUET 	CE 	130 	1 	0 	0
CUET 	CSE 	130 	1 	0 	0
CUET 	EEE 	180 	1 	0 	0
CUET 	ETE 	60 	0 	0 	0
CUET 	MSE 	30 	1 	0 	0
CUET 	ME 	180 	1 	0 	0
CUET 	MIE 	30 	0 	0 	0
CUET 	PME 	30 	0 	0 	0
CUET 	WRP 	30 	0 	0 	0
CUET 	WRE 	30 	0 	0 	0
KUET 	ARCH 	40 	1 	0 	0
KUET 	BECM 	60 	1 	0 	0
KUET 	BME 	30 	0 	0 	0
KUET 	CHE 	30 	0 	0 	0
KUET 	CE 	120 	1 	0 	0
KUET 	CSE 	120 	1 	0 	0
KUET 	EEE 	120 	1 	0 	0
KUET 	ECE 	60 	0 	0 	0
KUET 	ESE 	30 	1 	0 	0
KUET 	IEM 	60 	0 	0 	0
KUET 	LE 	60 	0 	0 	0
KUET 	MSE 	60 	0 	0 	0
KUET 	ME 	120 	1 	0 	0
KUET 	MTE 	30 	0 	0 	0
KUET 	TE 	60 	0 	0 	0
KUET 	URP 	60 	1 	0 	0
RUET 	ARCH 	30 	1 	0 	0
RUET 	BECM 	30 	0 	0 	0
RUET 	CFPE 	30 	0 	0 	0
RUET 	CE 	180 	1 	0 	0
RUET 	CSE 	180 	0 	0 	0
RUET 	EEE 	180 	1 	0 	0
RUET 	ECE 	60 	0 	0 	0
RUET 	ETE 	60 	0 	0 	0
RUET 	GCE 	60 	0 	0 	0
RUET 	IPE 	60 	1 	0 	0
RUET 	ME 	180 	1 	0 	0
RUET 	MSE 	60 	0 	0 	0
RUET 	MTE 	60 	1 	0 	0
RUET 	URP 	60 	1 	0 	0

In [ ]:
# Subject lists and seats in BUET
cur.execute('''
SELECT S.NAME, US.CAPASITY, US.QUOTA_CAPASITY
FROM UNI_SUB US JOIN SUBJECT S ON US.SUB_ID = S.SUB_ID 
WHERE US.UNI_ID = 'BUET';
''')
for line in cur.fetchall():
    for item in line:
        print(item, end=' \t')
    print('')

Architecture 	55 	1
Biomedical Engineering 	30 	0
Civil Engineering 	195 	1
Chemical Engineering 	60 	1
Computer Science and Engineering 	120 	1
Electrical and Electronics Engineering 	195 	0
Industrial and Production Engineering 	30 	0
Mechanical Engineering 	180 	1
Urbal and Regional Planning 	30 	1
Water Resources Engineering 	30 	0

In [ ]:
cur.execute(''' DROP TABLE IF EXISTS EXAM_CENTER; ''')
cur.execute('''
CREATE TABLE EXAM_CENTER(
    CENTER_ID VARCHAR2(4) NOT NULL PRIMARY KEY,
    NAME VARCHAR2(60) NOT NULL,
    LOCATION VARCHAR2(255) NOT NULL,
    CAPASITY INT NOT NULL,
    FILLED INT DEFAULT 0
);
''')

cur.execute(''' INSERT INTO EXAM_CENTER(CENTER_ID,NAME,LOCATION,CAPASITY) VALUES('BUET','Bangladesh University of Engineering and Technology', 'Dhaka 1000',9000);''')
cur.execute(''' INSERT INTO EXAM_CENTER(CENTER_ID,NAME,LOCATION,CAPASITY) VALUES('CUET','Chittagong University of Engineering and Technology', 'Pahartoli, Raozan-4349, Chittagong',7000);''')
cur.execute(''' INSERT INTO EXAM_CENTER(CENTER_ID,NAME,LOCATION,CAPASITY) VALUES('KUET','Khulna University of Engineering and Technology', 'Fulbarigate,Khulna',7000);''')
cur.execute(''' INSERT INTO EXAM_CENTER(CENTER_ID,NAME,LOCATION,CAPASITY) VALUES('RUET','Rajshahi University of Engineering and Technology', 'Kazla, Rajshahi-6204',7000);''')
cur.execute(''' INSERT INTO EXAM_CENTER(CENTER_ID,NAME,LOCATION,CAPASITY) VALUES('SUST','Sylhet University of Science and Technology', 'University Ave, Sylhet 3114',7000);''')

cur.execute('''SELECT * FROM EXAM_CENTER''')
for line in cur.fetchall():
    for item in line:
        print(item, end=' \t')
    print('')

BUET 	Bangladesh University of Engineering and Technology 	Dhaka 1000 	9000 	0
CUET 	Chittagong University of Engineering and Technology 	Pahartoli, Raozan-4349, Chittagong 	7000 	0
KUET 	Khulna University of Engineering and Technology 	Fulbarigate,Khulna 	7000 	0
RUET 	Rajshahi University of Engineering and Technology 	Kazla, Rajshahi-6204 	7000 	0
SUST 	Sylhet University of Science and Technology 	University Ave, Sylhet 3114 	7000 	0

In [92]:
conn.close()